{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock title %}</title>
  
  <link rel="icon" href="{% static 'images/logo/logo1.png' %}" type="image/png" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@600;700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg rounded fixed-top p-0" id="nav">
    <div class="container-fluid px-3">
      <div class="d-flex w-100 align-items-center">
        <img src="{% static 'images/logo/rem.png' %}" alt="Logo" style="width: 90px; height: 70px;" />
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav align-items-end mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link nav-link-red active" href="{% url 'homepage' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-red" href="{% url 'content' %}">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-red" href="{% url 'profile' %}">Profile</a>
          </li>
          {% if user.is_staff %}
          <li class="nav-item">
            <a class="nav-link nav-link-red d-flex flex-column align-items-center" href="/admin">
            <img src="{% static 'images/icon/admin.png' %}" alt="Logo" style="width: 30px; height: 30px;" class="mt-1"/>
            <span class="mb-0">Admin</span></a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link nav-link-red" href="{% url 'add_service' %}">
            <i class="bi bi-person-plus-fill"></i>Add Services</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-danger ms-lg-3 mt-lg-0 mb-2" href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <button id="chatbot-toggle" class="btn btn-primary rounded-circle" onclick="toggleChat()">💬</button>
  <div id="chat-container" class="shadow">
    <div id="chat-box"></div>
    <iframe allow="microphone;"width="280"height="550"src="https://console.dialogflow.com/api-client/demo/embedded/85dff238-718e-4062-a624-da3763c5440d"></iframe>
  </div>
  <script>
    function toggleChat() {
      const chat = document.getElementById("chat-container");
      if (chat.style.display === "flex") {
        chat.style.display = "none";
      } else {
        chat.style.display = "flex";
      }
    }
  </script>

  <section id="home" class="py-5 mt-4 text-center">
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
  </section>
  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
